html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh; 
  margin:0;
  font-family: 'Roboto Condensed', sans-serif;
}	
.content {
  flex: 1 0 auto; 
}

.content h1 {
  f
  font-size: 30px;
  text-align: center;
}

.content p {
	text-align: center;
	font-size: 15px;
	padding: 25px;
}

.footer {
  flex-shrink: 0; 
  line-height: 3;
  text-align: center;
  color: white;
  background-color: grey;
  width: 100%;
}